body {
  background-color: white;
}

p {
  font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: darkblue;
    text-align: center;
    background-color: darkblue;
    color: yellow; 
  }

h2 {
    background-color: yellow;
    color: black; 
  }

th {
    background-color: darkblue;
    color: white;
    padding: 10px;
    border: 1px solid black;
}

td {
  padding: 10px;
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: lightgray; 
}

tr:nth-child(odd) {
  background-color: white;
}

.gallery {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 30px; 
}

.gallery img {
  width: 10px; 
  height: auto; 
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05); 
  border-color: #aaa; 
}

.gallery .desc {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
  max-width: 80%; 
  text-align: center; 
}

.clearfix {
  clear: both; 
}