body {
  background-color: white;
}

p {
  font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: darkblue;
    text-align: center;
    background-color: darkblue;
    color: yellow; 
  }

h2 {
    background-color: yellow;
    color: black; 
  }

th {
    background-color: darkblue;
    color: white;
    padding: 10px;
    border: 1px solid black;
}

td {
  padding: 10px;
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: lightgray; 
}

tr:nth-child(odd) {
  background-color: white;
}

div.gallery {
  margin: 10px;
  border: 1px solid darkblue;
  float: left;
  width: 250px; 
  text-align: center;
}

div.gallery:hover {
  border: 1px solid darkblue;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 10px;
  font-size: 14px;
  background-color: white;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}




